/* 모바일 미디어 쿼리 */
@media screen and (max-width:768px){
    /* p1 */
    .p1{
        height: 550px;
    }
    header{
        width: 68%;
        height: 70px;
        margin: 0 auto;
    }
    header #name{
        margin-left: 10px;
        font-size: 8px;
    }
    header .profile{
        width: 20px;
        height: auto;
    }
    .nav_bar{
        position: fixed;
        top: 0; right: -200px;
        height: 100vh;
        width: 200px;
        background: #DC6D56;
        z-index: 100;
        transition: 1s;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .nav_bar ul{
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .nav_bar ul li{
        display: block;
        text-align: left;
        margin: 10px;
        margin-bottom: 10px;
    }
    .nav_bar ul li a:hover{
        color: #163439;
    }
    header i.fas.fa-ellipsis, .nav_bar i.fas.fa-xmark{
        display: block;
        color: white;
        margin: 10px;
        font-size: 15px;
        cursor: pointer;
        text-align: left;
    }
    .p1_main_img{
        height: 480px;
        width: 68%;
    }
    .p1_main_img article{
        top: 100px;
    }
    .p1_main_img article p{
        font-size: 28px;
        line-height: 45px;
    }
    .p1_main_img article .guide{
        width: 118px;
        height: 30px;
        font-size: 10px;
        border-radius: 10px;
    }
    .p1_main_img .app{
        width: 160px;
        bottom: 50px; right: -50px;
    }
    .p1_main_img .logo{
        width: 150px;
        bottom: -25px;
    }

    /* p2 */
    .p2{
        height: 350px;
        padding: 40px 0;
    }
    .p2 article{
        width: 68%;
    }
    .p2 article h4, .p2 article p{
        font-size: 12px;
    }
    .p2 article p > span{
        font-size: 20px;
    }
    .p2 .review_slide{
        height: 180px;
        margin-top: 15px;
    }
    .p2 .review_slide ul li{
        width: 130px;
        height: 170px;
    }
    .p2 .review_slide ul li img{
        width: 120px;
        height: 165px;
    }

    /* p3 */
    .p3{
        height: 1250px;
        justify-content: center;
        align-items: center;
    }
    .p3 h3{
        font-size: 12px;
        margin: 40px 0;
    }
    .p3 > div{
        width: 68%;
        height: 1050px;
    }
    .p3 div ul li article p:nth-child(3){
        display: none;
    }
    .p3 div ul li{
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .p3 div ul li div{
        width: 58%;
        height: 200px;
        /* background: pink; */
    }
    .p3 div ul li article{
        width: 58%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column wrap;
        /* background: gray; */
    }
    .p3 div ul li:nth-child(2n){
        flex-direction: column-reverse;
    }
    /* img 커스텀 */
    .install{
        width: 120px;
        height: auto;
    }
    .autodoor{
        width: 140px;
        height: auto;
    }
    .motion{
        width: 130px;
        height: auto;
    }
    .control{
        width: 120px;
        height: auto;
    }

    /* 설명 커스텀 */
    .p3 div ul li article h4{
        font-size: 12px;
    }
    .p3 div ul li article p:nth-child(2){
        font-size: 8px;
        margin: 0;
    }

    /* p4 */
    .p4{
        height: 700px;
    }
    .p4 h3{
        font-size: 12px;
        font-weight: 300;
        margin: 40px 0;
    }
    .p4 > div{
        width: 68%;
        margin-top: 50px;
    }
    .p4 div ul li img{
        width: 77px;
    }

    /* p5 */
    .p5{
        height: 350px;
    }
    .p5 h3{
        font-size: 16px;
        margin-top: 30px;
    }
    /* 질문 커스텀 */
    .p5 ul.question{
        margin-top: 30px;
    }
    .p5 ul.question li{
        width: 255px;
        height: 25px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .p5 ul.question li p{
        font-size: 8px;
    }
    .p5 ul.question li img{
        width: 6.5px;
    }
    .p5 .more{
        width: 50px; height: 20px;
        border-radius: 5px;
        font-size: 7px;
        padding: 0 10px;
        margin-top: 20px;
    }
    .p5 .more img{
        width: 6.5px;
    }
    /* 대답 커스텀 */
    .answer li.a_list{
        width: 68%;
        height: 175px;
    }
    .answer li p:last-child{
        font-size: 8px;
        margin-top: 10px; 
        margin-left: 10px;
        line-height: 15px;
    }
    .answer li p:first-child{
        margin: 10px;
    }

    /* footer */
    footer{
        height: 230px;
    }
    footer > div{
        width: 68%;
    }
    footer div > ul li:first-child p{
        margin-top: 20px;
        text-align: left;
    }
    footer div > ul li:first-child p:first-child{
        font-size: 10px;
    }
    footer div > ul li:first-child p:nth-child(2){
        font-size: 17px;
        margin-top: 5px;
    }
    footer div > ul li:first-child p:last-child{
        font-size: 10px;
        margin-top: 5px;
    }
    footer div > ul li:nth-child(2) h6{
        margin: 20px 0;
        font-size: 5px;
    }
    footer div > ul li:nth-child(2) img{
        width: 80px;
        opacity: 0.5;
    }

    footer div > ul li:last-child h3{
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    footer div > ul li:last-child ul li{
        font-size: 5px;
        margin-bottom: 5px;
        text-align: right;
    }

    /* kakao */
    .kakao{
        width: 30px;
    }
}